[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
requests = "*"
flask = "*"
flask-migrate = "*"
flask-cors = "*"
psycopg2 = "*"
flask-oauthlib = "*"
markupsafe = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
